body {
    background: linear-gradient(90deg, rgb(0, 119, 255), rgb(51, 175, 113))
}

h1 {
    text-align: center;
}

h3 {
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
}

.menu {
    display: flex;
    /* Transformation en flexbox */
    padding: 0;
    /* Suppression des marges internes */
    background-color: #ccc;
    /* Ajout de la couleur d'arrière-plan */
    justify-content: center
        /* Alignements des liens dans le menu */

}

.menu li {
    list-style-type: none;
    /* Suppression des puces */

}

nav {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-items: left;
}

.menu a {
    display: block;
    /* Transformation en block */
    min-width: 120px;
    /* Largeur minimale des liens */
    margin: 0.5rem;
    /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;
    /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;
    /* Centrage du texte */
    background-color: #1ABC9C;
    /* Couleur d'arrière-plan */
    color: #fff;
    /* Couleur du texte */
    text-decoration: none;
    /* Suppression du soulignement */
    border: 1px solid #fff;
    /* Ajout d'une bordure */
    border-radius: 4px;
    /* Arrondis des bordures */
}

.menu a:hover {
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}



.regles {
    margin-left: 25%;
    margin-right: 25%;
    padding: 2em;
    border: 2px solid yellowgreen;
    background-color: black;
    border-radius: 10px;
    color: white;
}



.img_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_memory {
    border-radius: 1em;
    width: 60%;
}
main{
    display: flex;
    justify-content: center;
}
.form {
    display: grid;
    justify-content: center;
    width: 800px;
    border: white solid;
    background-color: black;
    border-radius: 10px;
    color: white;
    height: 100%;
    min-width: 600px;
}

.champsaisie {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    margin: 10px;
}

.valid-feedback {
    color: green;
}

.plateau {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-inline: 20%;
}

.img {
    border-radius: 5px;
}

.buttons {
    display: flex;
    height: 3em;
    width: 20em;
    justify-content: space-around;
    align-self: center;
}

.button {
    width: 10em;
    margin-bottom: 30px;
}

.field {
    align-content: center;
    text-align: center;
    justify-self: center;
}

.saisieBorder {
    width: 35vw;

}

.level {
    justify-content: space-evenly;
    display: flex;
    width: 24em;
    margin: 10px;
}

.boxColor {
    height: 0.5em;
    justify-content: center;
    margin-bottom: 2em;
    width: 8em;
    text-align: center;

}

#levelBoxHigh {
    background-color: green;
    visibility: hidden;
}

#levelBoxMid {
    background-color: yellow;
    visibility: hidden;
}

#levelBoxLow {
    background-color: orange;
    visibility: hidden;
}

.champconditions {
    margin: 20px;
}